<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Login</title>
</head>
<body>
<div>
    <form th:method="POST" th:action="@{/login}">
        <input type="text" name="username" placeholder="Login">
        <br/>
        <input type="password" name="password" placeholder="Password">
        <br/>
        <input type="submit" value="Log in">
<!--        <div th:if="${e}">No such user</div>-->
    </form>
    <form th:method="GET" th:action="@{/register}">
        <input type="submit" value="Register">
    </form>
</div>
</body>
</html>